.Slytherin {
    width:100%;
    height:100%;
    background-image:url('https://user-images.githubusercontent.com/77574867/115653291-d5df3200-a369-11eb-9411-226996da41ad.jpeg');
    background-size: cover;
    overflow-y:auto;
}
.Gryffindor {
    width:100%;
    height:100%;
    background-image:url('https://user-images.githubusercontent.com/77574867/115653255-ce1f8d80-a369-11eb-8a1a-f447b2344cf0.jpeg');
    background-size: cover;
    overflow-y:auto;
}
.Ravenclaw {
    width:100%;
    height:100%;
    background-image:url('https://user-images.githubusercontent.com/77574867/115653284-d4156e80-a369-11eb-9220-1ba1d9d917e0.jpeg');
    background-size: cover;
    overflow-y:auto;
}
.Hufflepuff {
    width:100%;
    height:100%;
    background-image:url('https://user-images.githubusercontent.com/77574867/115653269-d11a7e00-a369-11eb-9374-cafe8e23ca15.jpeg');
    background-size: cover;
    overflow-y:auto;
}